
<div class="panel panel-default panel-intro">

    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#new" data-toggle="tab">{:__('以租代购（新车）签单流程')}</a></li>
            <li><a href="#rental" data-toggle="tab">{:__('纯租签单流程')}</a></li>
            <li><a href="#second" data-toggle="tab">{:__('已租代购（二手车）签单流程')}</a></li>
            <li><a href="#full" data-toggle="tab">{:__('全款签单流程')}</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="new">
                <!-- 新车 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div id="newechart" style="height:300px;width:100%;"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade active in" id="rental">
                <!-- 租车 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div id="rentalechart" style="height:200px;width:100%;"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade active in" id="second">
                <!-- 二手车 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div id="secondechart" style="height:200px;width:100%;"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade active in" id="full">
                <!-- 全款车 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div id="fullechart" style="height:200px;width:100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>