
<form id="auditResult-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <h2>
        <center>当前购车方式：以租代购（新车）</center>
    </h2>
    <br>
    <div class="form-group">

        <label class="control-label col-xs-12 col-sm-2">
            <strong> {:__('请仔细填写录入以下客户资料')}:</strong>
        </label>
    </div>
    <h3>
        <center>基本资料</center>
    </h3>
    <br>
    {foreach $rows as $k=>$row}

    
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('销售车型/方案')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-plan_acar_name" data-rule="required" class="form-control selectpicker"
                    name="row[plan_acar_name]">
                <option value=" " style='display: none'>未选中任何项</option>
                {volist name="newRes" id="vo"}

                <option value="{$vo['brand_logoimage']}" disabled>{$vo['brand_name']}</option>
                {volist name="vo.data" id="vo_s"}
                <option value="{$vo_s['id']}">{$vo_s['models_name']}</option>
                {/volist} {/volist}
            </select>

        </div>
    </div> -->


    <div class="form-group">
        <label class="col-xs-12 col-sm-1">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-1">
                <label class="col-xs-12">{$row.username}</label>
        </div>

        <label class="col-xs-12 col-sm-1">{:__('Id_card')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-2">
                <label class="col-xs-12">{$row.id_card}</label>
        </div>
    
        <label class="col-xs-12 col-sm-1">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-1">
                <label class="col-xs-12">{$row.phone}</label>
        </div>

        <label class="col-xs-12 col-sm-1">{:__('Genderdata')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-1">

                <label class="col-xs-12">{$row.genderdata_text}</label>
        </div>

    </div>

    <div class="form-group">
    
        <label class="col-xs-12 col-sm-2">{:__('City')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-5">
                <label class="col-xs-12">{$row.city}{$row.detailed_address}</label>
        </div>

        <label class="col-xs-12 col-sm-2">{:__('Emergency_contact_1')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-2">
                <label class=" col-xs-12">{$row.emergency_contact_1}</label>
        </div>
    </div>

    <div class="form-group">
        
        <label class="col-xs-12 col-sm-2">{:__('Emergency_contact_2')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-2">
                <label class="col-xs-12">{$row.emergency_contact_2}</label>
        </div>

        <label class="col-xs-12 col-sm-2">{:__('Family_members')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-2">
                <label class="col-xs-12">{$row.family_members}</label>
        </div>
        
    </div>


    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deposit_contractimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <img src="" alt="">
            </div>
            
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deposit_receiptimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-deposit_receiptimages" data-rule="required" class="form-control" size="50"
                       name="row[deposit_receiptimages]" type="text" value="{$row.deposit_receiptimages}">
                <div class="input-group-addon no-border no-padding">
                        <span>
                            <button type="button" id="plupload-deposit_receiptimages" class="btn btn-danger plupload"
                                    data-input-id="c-deposit_receiptimages"
                                    data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp"
                                    data-multiple="true" data-preview-id="p-deposit_receiptimages">
                                <i class="fa fa-upload"></i> {:__('Upload')}</button>
                        </span>
                    <span>
                            <button type="button" id="fachoose-deposit_receiptimages" class="btn btn-primary fachoose"
                                    data-input-id="c-deposit_receiptimages"
                                    data-mimetype="image/*" data-multiple="true">
                                <i class="fa fa-list"></i> {:__('Choose')}</button>
                        </span>
                </div>
                <span class="msg-box n-right" for="c-deposit_receiptimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-deposit_receiptimages"></ul>
        </div>
    </div> -->


    <!-- <h3>
        <center>审核资料上传（必填）</center>
    </h3>
    <br> -->


    <div class="form-group">
        <label class="col-xs-12 col-sm-2">{:__('Id_cardimages')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-2">
        
                {foreach $id_cardimages_arr as $k => $v}
                <img src="{$v}" class="imgs" data-original="{$v}" alt="" style="width:80px;height:80px;">
                {/foreach}
    
        </div>
    
        <label class="col-xs-12 col-sm-2">{:__('Drivers_licenseimages')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-2">
                {foreach $drivers_licenseimages_arr as $k => $v}
                <img src="{$v}" class="imgs" data-original="{$v}" alt="" style="width:80px;height:80px;">
                {/foreach}
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-12 col-sm-2">{:__('Residence_bookletimages')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-2">
                {foreach $residence_bookletimages_arr as $k => $v}
                <img src="{$v}" class="imgs" data-original="{$v}" alt="" style="width:80px;height:80px;">
                {/foreach}
        </div>
    
        
        <label class="col-xs-12 col-sm-2">{:__('Housingimages')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-2">
                {foreach $housingimages_arr as $k => $v}
                <img src="{$v}" class="imgs" data-original="{$v}" alt="" style="width:80px;height:80px;">
                {/foreach}
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-xs-12 col-sm-2">{:__('Bank_cardimages')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-2">
                {foreach $bank_cardimages_arr as $k => $v}
                <img src="{$v}" class="imgs" data-original="{$v}" alt="" style="width:80px;height:80px;">
                {/foreach}
        </div>
    
        
        <label class="col-xs-12 col-sm-2">{:__('Application_formimages')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-2">
                {foreach $application_formimages_arr as $k => $v}
                <img src="{$v}" class="imgs" data-original="{$v}"  alt="" style="width:80px;height:80px;">
                {/foreach}
        </div>
    </div>


    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Call_listfiles')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-6">
            <div class="input-group">
                <input id="c-call_listfiles" data-rule="required" class="form-control" size="50"
                       name="row[call_listfiles]" type="text" placeholder="请上传PDF或EXCEL格式！！！">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="plupload-call_listfiles" class="btn btn-danger plupload"
                                data-input-id="c-call_listfiles" data-multiple="true">
                            <i class="fa fa-upload"></i> {:__('Upload')}</button>
                    </span>
                    &nbsp;&nbsp;&nbsp;
                    <span>

                        <button type="button" id="fachoose-call_listfiles" class="btn btn-info get_call_listfiles"
                                data-multiple="true">
                            <i class="fa fa-download"></i> {:__('点击这里一键获取通话清单')}</button>
                    </span>
                </div>
                <span class="msg-box n-right" for="c-call_listfiles"></span>
            </div>

        </div>
    </div> -->

    <!-- <h3>
        <center>审核资料上传（不必填）</center>
    </h3>
    <br>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Credit_reportimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-credit_reportimages" class="form-control" size="50" name="row[credit_reportimages]"
                       type="text">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="plupload-credit_reportimages" class="btn btn-danger plupload"
                                data-input-id="c-credit_reportimages"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true"
                                data-preview-id="p-credit_reportimages">
                            <i class="fa fa-upload"></i> {:__('Upload')}</button>
                    </span>
                    <span>
                        <button type="button" id="fachoose-credit_reportimages" class="btn btn-primary fachoose"
                                data-input-id="c-credit_reportimages"
                                data-mimetype="image/*" data-multiple="true">
                            <i class="fa fa-list"></i> {:__('Choose')}</button>
                    </span>
                </div>
                <span class="msg-box n-right" for="c-credit_reportimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-credit_reportimages"></ul>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Guarantee_id_cardimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-guarantee_id_cardimages" class="form-control" size="50" name="row[guarantee_id_cardimages]"
                       type="text">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="plupload-guarantee_id_cardimages" class="btn btn-danger plupload"
                                data-input-id="c-guarantee_id_cardimages"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true"
                                data-preview-id="p-guarantee_id_cardimages">
                            <i class="fa fa-upload"></i> {:__('Upload')}</button>
                    </span>
                    <span>
                        <button type="button" id="fachoose-guarantee_id_cardimages" class="btn btn-primary fachoose"
                                data-input-id="c-guarantee_id_cardimages"
                                data-mimetype="image/*" data-multiple="true">
                            <i class="fa fa-list"></i> {:__('Choose')}</button>
                    </span>
                </div>
                <span class="msg-box n-right" for="c-guarantee_id_cardimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-guarantee_id_cardimages"></ul>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Guarantee_agreementimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-guarantee_agreementimages" class="form-control" size="50"
                       name="row[guarantee_agreementimages]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="plupload-guarantee_agreementimages" class="btn btn-danger plupload"
                                data-input-id="c-guarantee_agreementimages"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true"
                                data-preview-id="p-guarantee_agreementimages">
                            <i class="fa fa-upload"></i> {:__('Upload')}</button>
                    </span>
                    <span>
                        <button type="button" id="fachoose-guarantee_agreementimages" class="btn btn-primary fachoose"
                                data-input-id="c-guarantee_agreementimages"
                                data-mimetype="image/*" data-multiple="true">
                            <i class="fa fa-list"></i> {:__('Choose')}</button>
                    </span>
                </div>
                <span class="msg-box n-right" for="c-guarantee_agreementimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-guarantee_agreementimages"></ul>
        </div>
    </div> -->


    {/foreach}
    
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Review_the_data')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {foreach name="reviewTheDataList" item="vo"}
                <label for="row[review_the_data]-{$key}">
                    <input id="row[review_the_data]-{$key}" name="row[review_the_data]" type="radio" value="{$key}" {in name="key" value="not_through"
                        }checked{/in} /> {$vo}</label>
                {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Delivery_datetime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-delivery_datetime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true"
                name="row[delivery_datetime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div> -->
 
    
    <!-- <a href="" class="btn btn-success btn-pass" data-params="pass" title="{:__('审核通过')}"><i class="fa fa-download"></i> {:__('审核通过')}</a>
    
    <a href="javascript:;" class="btn btn-success btn-completiondata" title="{:__('补全资料')}"><i class="fa fa-download"></i> {:__('补全资料')}</a>

    <a href="javascript:;" class="btn btn-danger btn-nopass" title="{:__('审核不通过')}"><i class="fa fa-download"></i> {:__('审核不通过')}</a> -->

    <!-- <input type="hidden" name="id" value="{$id}"> -->
    <input type="hidden" name="hidden1" id="hidden1"/>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed" id="pass" onclick="examine('1')">{:__('审核通过')}</button>
            <button type="submit" class="btn btn-default btn-embossed" id="data" onclick="examine('2')">{:__('补全资料')}</button>
            <button type="submit" class="btn btn-danger btn-embossed" id="nopass" onclick="examine('3')">{:__('审核不通过')}</button>
        </div>
    </div>

</form>

<script>
    function examine(type){
        document.getElementById("hidden1").value=type;
    }
</script>

