<form id="auditResult-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <h1>
        <center>大数据综合查询结果</center>
    </h1>
    <br>
    <br>

    <div class="container-fulid">
        <div class="col-xs-12 col-sm-8   col-md-12  text-center">
            <span style="padding: 2px 0 ;border-left: 3px solid green">&nbsp;客户姓名：{$bigdata.name} </span> &nbsp;&nbsp;
            <span style="padding: 2px 0 ;border-left: 3px solid green"> &nbsp;身份证号：{$bigdata.id_card}</span>&nbsp;&nbsp;
            <span style="padding: 2px 0 ;border-left: 3px solid green">
                &nbsp;手机号：{$bigdata.phone}</span>
        </div>
        <br>
        <br>
        <ul id="myTab" class="nav nav-tabs">
                <li class=" text-center " style="width: 50%">
                    <a href="#home" data-toggle="tab">
                        <span>共享数据/基础信息</span> 
                    </a>
                </li>
                <li style="width: 50%" class="text-center active"><a href="#ios" data-toggle="tab">
                    
                   
                    <span> 风险名单</span>
                </a>
                </li>
                <!-- <li class="dropdown">
                    <a href="#" id="myTabDrop1" class="dropdown-toggle"
                       data-toggle="dropdown">Java
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                        <li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>
                        <li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>
                    </ul>
                </li> -->
            </ul>
            <div id="myTabContent" class="tab-content"> 
                <div class="tab-pane fade " id="home">
                   
                        <table class="table table-hover">
                                <th class="info">流水号。标识每一次查询，平台内唯一</th>
                                <th class="info">致诚信用分，取值300~850</th>
                                <th class="info">违约概率，取值0.73%~73.6%</th>
                    
                                <tr>
                                    <td>{$bigdata.share_data.params.data.flowId}</td>
                                    <td>{$bigdata.share_data.params.data.zcCreditScore|default="暂无借款信息"}</td>
                                    <td>{$bigdata.share_data.params.data.contractBreakRate|default="暂无借款信息"}</td>
                                </tr>
                    
                            </table>
                            <div class="col-xs-12 col-sm-8 col-md-12">
                                <b class="text-success">
                                        <center> <h2> 被查询统计</strong></h2>
                                </b>
                                <table class="table table-hover table-bordered">
                                    <th class="info">其他机构查询次数</th>
                                    <th class="info">其他查询机构数</th>
                                    <th class="info">本机构查询次数</th>
                                    {empty name="$bigdata.share_data.params.data.queryStatistics"} 
                                        <b class="text-danger">暂无信息</b>
                                        {else /}
                                    
                                    
                                            <tr>
                                                <td>{$bigdata.share_data.params.data.queryStatistics.otherOrgCount}</td>
                                                <td>{$bigdata.share_data.params.data.queryStatistics.timesByCurrentOrg}</td> 
                                                <td>{$bigdata.share_data.params.data.queryStatistics.timesByOtherOrg}</td>
                                            </tr>
                                        
                                    {/empty}
                                </table>
                            </div>
                            
                            <div class="col-xs-12 col-sm-8 col-md-12"> 
                                <b class="text-success">
                                    <center> <h2> 被查询历史</strong></h2>
                                </b>
                                <table class="table table-hover table-bordered">
                                    <th class="info">历史上在阿福平台查询此借款人的机构
                                            名称（随机编码）</th>
                                    <th class="info">查询时间</th>
                                    <th class="info">机构类型</th>
                                    <th class="info">查询原因</th>
                                    {empty name="$bigdata.share_data.params.data.queryHistory"} 
                                        <b class="text-danger">暂无信息</b>
                                        {else /}
                                
                                        {foreach $bigdata.share_data.params.data.queryHistory  as $k=>$v}
                                            <tr>
                                                <td>{$v.orgName}</td>
                                                <td>{$v.time}</td>
                                                <td>
                                                    {switch name="$v.queryReason"} 
                                                        {case value="10"}贷款审批{/case} 
                                                        {case value="11"}贷后管理{/case} 
                                                        {case value="12"}信用卡审批{/case} 
                                                        {case value="13"}担保资格审查{/case}
                                                        {case value="14"}保前审查{/case} 
                                                    {/switch}
                                                
                                                </td>
                                                <td>{$v.orgType}</td>
                                            </tr>
                                        {/foreach}
                                    {/empty}
                                </table>
                            </div>
                            <b class="text-success">
                                    <center> <h2> 借款记录历史</strong></h2>
                             </b>
                             <table class="table table-hover">
                                 <th class="info">提供数据的机构代号（随机编码）</th>
                                 <th class="info">姓名 - 身份证号</th>
                                 <th class="info">借款时间</th>
                                 <th class="info">借款期数</th>
                                 <th class="info">借款金额</th>
                    
                                 <th class="info">审批结果</th>
                                 <th class="info">还款状态</th>
                                 <th class="info">借款类型</th>
                                 <th class="info">逾期金额</th>
                                 <th class="info">逾期情况</th>
                                 <th class="info">历史逾期总次数</th>
                                 <th class="info">历史逾期3 期以上的，不含3 期 次数</th>
                                 <th class="info">历史逾期6 期以上的，不含6 期 次数</th> 
                                 {empty name="$bigdata.share_data.params.data.loanRecords"} 
                                 <tr >
                                     <td colspan="14" style="text-align: center">
                                            <span class="text-danger pull-center">暂无借款记录</span>
                    
                                     </td> 
                                 
                                 </tr> 
                                     {else /}
                                
                                     {foreach $bigdata.share_data.params.data.loanRecords  as $k=>$v}
                                         <tr class="trLen">
                                             <td>{$v.orgName}</td>
                                             <td class="mergeUser">{$v.name} - {$v.certNo}</td>
                                          
                                             <td>{$v.loanDate}</td>
                                             <td>{$v.periods}</td>
                                             <td>{$v.loanAmount}</td>
                                             <td>
                                                {switch name="$v.approvalStatusCode"} 
                                                    {case value="201"}审核中{/case} 
                                                    {case value="202"}批贷已放款{/case} 
                                                    {case value="203"}拒贷{/case} 
                                                    {case value="204"}客户放弃{/case}
                                                {/switch} 
                                            </td>
                                             <td>
                                                 {empty name="$v.loanStatusCode"}
                                                    -
                                                    {else /}
                                                    {switch name="$v.loanStatusCode" } 
                                                    
                                                    
                                                    {case value="301" }<span style="color: green"> 正常</span>{/case} 
                                                    {case value="302"}<span style="color: red"> 逾期</span>{/case} 
                                                    {case value="303"}<span style="color: green"> 结清</span>{/case} 
                                                    {/switch}  
                                                 {/empty}
                                               
                                            </td>
                                             <td>
                                                {switch name="$v.loanTypeCode"} 
                                                    {case value="21"}信用{/case} 
                                                    {case value="22"}抵押{/case} 
                                                    {case value="23"}担保{/case} 
                                                {/switch}  
                                            </td>
                                             <td>{$v.overdueAmount|default="-"}</td>
                                             <td>
                                                    {empty name="$v.overdueStatus"}
                                                        -
                                                        {else /}
                                                            
                                                        {switch name="$v.overdueStatus"} 
                                                            {case value="M1"|default="-"}当前逾期1 期{/case} 
                                                            {case value="M2"}当前逾期2 期{/case} 
                                                            {case value="M3"}当前逾期3 期{/case} 
                                                            {case value="M3+"}当前逾期3 期以上的，不含3 期{/case} 
                                                            {case value="M4"}当前逾期4 期{/case} 
                                                            {case value="M5"}当前逾期5 期{/case} 
                                                            {case value="M6"}当前逾期6 期{/case} 
                                                            {case value="M6+"}当前逾期6 期以上的，不含6 期{/case} 
                                                        {/switch}   
                                                    {/empty}
                                              
                                            </td>
                                             <td>{$v.overdueTotal|default="-"}</td>
                                             <td>{$v.overdueM3|default="-"}</td>
                                             <td>{$v.overdueM6|default="-"}</td> 
                                         </tr>
                                     {/foreach}
                                 {/empty}
                             </table>
                             <script >
                                //  console.log();
                                    //  var tdLen = $('.trLen').length;
                                    //  $('.mergeUser').attr('rowspan',tdLen);
                             </script>
                             <b class="text-danger">
                                    <center> <h2> 风险项记录</strong></h2>
                             </b>
                             <table class="table table-hover">
                                 <th class="danger">提供数据的机构代号（随机编码）</th>
                                 <th class="danger">命中项</th>
                                 <th class="danger">命中内容</th>
                                 <th class="danger">风险类别</th>
                                 <th class="danger">风险明细</th>
                                 <th class="danger">风险最近时间</th> 
                                 {empty name="$bigdata.share_data.params.data.riskResults"} 
                                 <tr >
                                     <td colspan="14" style="text-align: center">
                                            <span class="text-danger pull-center">暂无 风险项记录</span>
                    
                                     </td> 
                                 
                                 </tr> 
                                    
                                     {else /}
                                
                                     {foreach $bigdata.share_data.params.data.riskResults  as $k=>$v}
                                         <tr>
                                             <td>{$v.orgName}</td>
                                             <td>（证件号码）</td>
                                             <td>{$v.riskItemValue} </td>
                                             <td>
                                                 {switch name="$v.riskTypeCode"}
                                                 {case value="11"}
                                                    伪冒类
                                                 {/case}
                                                 {case value="12"}
                                                 资料虚假类
                                                 {/case}
                                                 {case value="10"}
                                                 丧失还款能力类
                                                 {/case}
                                                 {case value="13"}
                                                 用途虚假类 
                                                 {/case}
                                                 {case value="19"}
                                                 其他
                                                 {/case}
                                                {/switch}
                                                </td>
                                             <td>{$v.riskDetail}</td>
                                             <td>{$v.riskTime}</td> 
                                         </tr>
                                     {/foreach}
                                 {/empty}
                             </table>



                </div>
                <div class="tab-pane fade in active" id="ios">
                        <b class="text-success">
                                <center> <h2> 社交关系网分析数据</strong></h2>
                        </b>
                        <hr>
                        <div class=" col-xs-12 col-sm-8 col-md-12 text-left">
                                <strong ><b><i class="fa fa-circle text-success"></i> 基本信息</b></strong>

                        </div>
                        <br>
                        <br>
                        <div class="col-xs-12 col-sm-8 col-md-2 text-left">
                                性别：{$bigdata.risk_data.data.behaviorFeatures.gender}
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-2 text-left">
                                年龄：{$bigdata.risk_data.data.behaviorFeatures.age}
                        </div> 
                        <div class="col-xs-12 col-sm-8 col-md-2 text-left">
                                手机运营商：{$bigdata.risk_data.data.behaviorFeatures.mobileOperator}
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-3 text-left">
                                手机号码归属地：{$bigdata.risk_data.data.behaviorFeatures.mobileLocation}
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-3 text-left">
                                身份证号归属地：{$bigdata.risk_data.data.behaviorFeatures.mobileOperator}
                        </div>
                        
                       <hr>
                        <div class=" col-xs-12 col-sm-8 col-md-2 text-left">
                                <strong ><b><i class="fa fa-circle text-success"></i> 异地通话信息</b></strong>
                                <br>
                                <br>
                                <p>
                                主叫联系人数：{$bigdata.risk_data.data.behaviorFeatures.activeCallCnt}
                                    
                                </p>
                                <p>
                                异地通话次数：{$bigdata.risk_data.data.behaviorFeatures.remoteCallNum}
                                </p>
                                <p>
                                异地通话人数：{$bigdata.risk_data.data.behaviorFeatures.remoteCallCnt}
                                    
                                </p>
                                <p>
                                异地通话秒数：{$bigdata.risk_data.data.behaviorFeatures.remoteCallSeconds}

                                </p>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-2 text-left">
                            <strong ><b><i class="fa fa-circle text-success"></i> 夜间通话信息</b></strong>
                            <br>
                            <br>
                            <p>
                                    夜间通话次数（24点到5点）：{$bigdata.risk_data.data.behaviorFeatures.nightCallNum}
                                
                            </p>
                            <p>
                                    夜间通话人数：24点到5点：{$bigdata.risk_data.data.behaviorFeatures.nightCallCnt}
                                
                            </p>
                            <p>
                                    夜间通话秒数（24点到5点）：{$bigdata.risk_data.data.behaviorFeatures.nightCallSeconds}
                                
                            </p> 
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-2 text-left">
                                <strong ><b><i class="fa fa-circle text-success"></i> 虚拟号码通话信息</b></strong>
                                <br>
                                <br>
                                <p>
                                        与虚拟号码通话次数：{$bigdata.risk_data.data.behaviorFeatures.fictionCallNum}
                                    
                                </p>
                                <p>
                                        与虚拟号码通话人数：{$bigdata.risk_data.data.behaviorFeatures.fictionCallCnt}
                                </p>
                                <p>
                                        与虚拟号码通话秒数：{$bigdata.risk_data.data.behaviorFeatures.fictionCallNum}
                                    
                                </p> 
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-2 text-left">
                                <strong ><b><i class="fa fa-circle text-success"></i> 国外通话信息</b></strong>
                                <br>
                                <br>
                                <p>
                                        与澳门通话人数：{$bigdata.risk_data.data.behaviorFeatures.macaoCallCnt}
                                    
                                </p>
                                <p>
                                        与澳门通话次数：{$bigdata.risk_data.data.behaviorFeatures.macaoCallNum}
                                </p>
                                <p>
                             
                                        与澳门通话次数：{$bigdata.risk_data.data.behaviorFeatures.macaoCallSeconds}
                                    
                                </p> 
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-4 text-left">
                                <strong ><b><i class="fa fa-circle text-success"></i> 银行/法院通话信息</b></strong>
                                <br>
                                <br>
                                <p>
                                        与银行或同行通话总次数：{$bigdata.risk_data.data.behaviorFeatures.loanCallNum}
                                    
                                </p>
                                <p>
                                        与银行或同行通话总秒数：{$bigdata.risk_data.data.behaviorFeatures.loanCallSeconds}
                                </p>
                                <p>
                                        与法院通话次数：{$bigdata.risk_data.data.behaviorFeatures.courtCallNum}
                                    
                                </p> 
                                <p>
                                        与律师通话次数：{$bigdata.risk_data.data.behaviorFeatures.lawyerCallNum}
                                </p>
                        </div>
                        <br>
                        <br>
                        <hr>
                        <div class=" col-xs-12 col-sm-8 col-md-12 text-left">
                                <strong ><b><i class="fa fa-circle text-success"></i> 联系人信息1</b></strong>
                                <br>
                                <br>
                        </div>
                       
                       
                        
                        <div class="col-xs-12 col-sm-8 col-md-2 text-left">
                                一阶联系人黑名单个数：{$bigdata.risk_data.data.behaviorFeatures.firstOrderBlackCnt}
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-2 text-left">
                                一阶联系人逾期个数（当前逾期天数大于等于4）：{$bigdata.risk_data.data.behaviorFeatures.firstOrderOverdueCnt}
                        </div>


                        <div class="col-xs-12 col-sm-8 col-md-2 text-left">
                                一阶联系人黑名单数占比：
                                {$bigdata.risk_data.data.behaviorFeatures.firstOrderBlackCnt }
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-3 text-left">
                                一阶联系人逾期占比：{$bigdata.risk_data.data.behaviorFeatures.firstOrderOverdueCnt+100}
                        </div>
                       

                        <div class="col-xs-12 col-sm-8 col-md-3 text-left">
                                一阶联系人逾期m3+个数（历史逾期天数大于等于90天，包含逾期还清）：{$bigdata.risk_data.data.behaviorFeatures.firstOrderM3Cnt}
                        </div>
                        <br>
                        <br>
                     
                        <div class=" col-xs-12 col-sm-8 col-md-12 text-left">
                                <strong ><b><i class="fa fa-circle text-success"></i> 联系人信息2</b></strong>
                                <br>
                                <br>
                        </div> 
                        
                        <div class="col-xs-12 col-sm-8 col-md-2 text-left">
                                二阶联系人黑名单个数：{$bigdata.risk_data.data.behaviorFeatures.secondOrderBlackCnt}
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-2 text-left">
                                二阶联系人逾期个数（当前逾期天数大于等于4）：{$bigdata.risk_data.data.behaviorFeatures.secondOrderOverdueCnt}
                        </div> 
                        
                        <div class="col-xs-12 col-sm-8 col-md-3 text-left">
                                二阶联系人逾期m3+个数（历史逾期天数大于等于90天，包含逾期还清）：{$bigdata.risk_data.data.behaviorFeatures.secondOrderM3Cnt}
                        </div>

                        <!-- <div class="col-xs-12 col-sm-8 col-md-3 text-left">
                                二阶联系人逾期m3+个数（历史逾期天数大于等于90天，包含逾期还清）：{$bigdata.risk_data.data.behaviorFeatures.mobileOperator}
                        </div>
                         
                       
                        <div class="col-xs-12 col-sm-8 col-md-3 text-left">
                                主叫联系人逾期个数：{$bigdata.risk_data.data.behaviorFeatures.mobileOperator}
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-3 text-left">
                                主叫联系人黑名单个数：{$bigdata.risk_data.data.behaviorFeatures.mobileOperator}
                        </div>
                      
                        <div class="col-xs-12 col-sm-8 col-md-3 text-left">
                                二阶联系人逾期个数：{$bigdata.risk_data.data.behaviorFeatures.mobileOperator}
                        </div>
                       
                        <div class="col-xs-12 col-sm-8 col-md-3 text-left">
                                二阶联系人黑名单个数：{$bigdata.risk_data.data.behaviorFeatures.mobileOperator}
                        </div> -->
                        <!-- <table class="table table-hover table-bordered" style="border: 1px solid #222">
                              
                                <tr>
                                    <td>
                                        <div>
                                            <span style="padding: 5px 10px 5px 0;background-color: #ddd"  class="bg-success">
                                                    身份证号归属地
                                            </span>
                                            

                                        </div>
                                    </td>
                                    <td>手机号码归属地</td>
                                    <td>手机运营商</td>
                                    <td>aa</td>
                                </tr>
                                <tr>
                                   <td>bb

                                   </td>
                                    <td>bb</td>
                                    <td>aa</td>
                                    <td>aa</td>
                                </tr>
                        </table> -->
                </div>
                
        </div>
      
        <!-- <div class="col-xs-12 col-sm-8 col-md-4">
            
        </div> -->

    </div>
</form>