<h3>
    <center>
        <span style="float: left;font-size: medium"><strong>{:__('订单编号')}：</strong> {$row.order_no}</span>
        <h2><span style="margin-left: -20%">基本资料</span></h2> <span
            style="float: right;margin-top: -35px;font-size: medium"><strong>{:__('提车日期')}：</strong> {$row.delivery_datetime}</span>
        <span style="float: right;margin-top: -35px;margin-right: 15%;font-size: medium"><strong>{:__('订车日期')}：</strong> {$row.createtime}</span>
    </center>
</h3>
<br>
<div class="container-fulid" style="border: 1px solid #ddd">

    <!--<br>-->
    <!--<hr>-->


    <div class="form-group" style="margin-top: 1%">
        <div class="col-xs-12 col-sm-8 col-md-4">


        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            <h3 style="margin-left: 25%;margin-top: 13px" class="text-info">签约客户登记表</h3>

        </div>
    </div>
    <br>
    <br>
    <br>

    <hr>
    <!--<br>-->
    <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-md-3"></div>
        <div class="col-xs-12 col-sm-8 col-md-6">
            <strong>{:__('销售车型/方案')}：</strong> {$row.plan_name}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('销售员')}：</strong>{$row.sales_name}
        </div>
    </div>
    <br>
    <hr>
    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('姓名')}：</strong> {:__($row.username)} {eq name="$row.genderdata" value="male"} <span
                class="fa fa-male text-info"></span>{else /} <span class="fa fa-female"
                                                                   style="color:palevioletred"></span>{/eq}
        </div>

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('联系电话')}：</strong> {$row.phone}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('身份证号')}：</strong> {$row.id_card}
        </div>

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('客户来源')}：</strong> {eq name="$row.customer_source" value="direct_the_guest"}直客{else/}转介绍{/eq}
        </div>

    </div>
    <br>
    <hr>
    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('档案编码')}：</strong> {$row.archival_coding}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('过户日期')}：</strong> {$row.transferdate}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('签订日期')}：</strong> {empty name="$row.signdate"} <span class="text-warning">请填写签订日期</span>{else
            /}{$row.signdate}{/empty}
        </div>

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('备注信息')}：</strong> {empty name="$row.registry_remark"} <span class="text-info">暂无</span>{else
            /}{$row.registry_remark}{/empty}
        </div>

    </div>
    <br>
    <hr>
    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('licensenumber')}：</strong>{$row.licensenumber}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('engine_number')}：</strong> {$row.engine_number}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('frame_number')}：</strong> {$row.frame_number}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('household')}：</strong> {$row.household}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('4s_shop')}：</strong> {$row.4s_shop}
        </div>
    </div>
    <br>
    <hr>
    <!--<br>-->
    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('年检日期')}：</strong>{$row.yearly_inspection}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('上户日期')}：</strong> {$row.hostdate}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('合同总价')}：</strong> {empty name="$row.contract_total"} <span class="text-info">暂无</span>{else
            /}{$row.contract_total}{/empty}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('装饰')}：</strong>{$row.decorate}
        </div>

    </div>
    <br>
    <hr>
    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('扣款卡号')}：</strong>{$row.bank_card}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('登记编码')}：</strong>{$row.registration_code}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('车款总价')}：</strong>{$row.car_total_price}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('首期款')}：</strong>{$row.downpayment}
        </div>
    </div>
    <br>
    <hr>
    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('差额')}：</strong>{$row.difference}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('实收订车金额')}：</strong>{$row.amount_collected}
        </div>

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('抵押人')}：</strong> {empty name="$row.mortgage_people"} <span class="text-info">暂无</span>{else
            /}{$row.mortgage_people}{/empty}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('抵押类型')}：</strong> {switch name="$row.mortgage_type"}
            {case value="new_car"}新车{/case}
            {case value="used_car"}二手车{/case}
            {case value="yueda_car"}悦达{/case}
            {case value="other_car"}其他{/case}
            {/switch}
        </div>
    </div>
    <br>
    <hr>
    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-4">


        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            <h3 style="margin-left: 25%;margin-top: 13px" class="text-info">购车发票登记</h3>

        </div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('开票日期')}：</strong> {$row.ticketdate}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('供货商')}：</strong> {$row.supplier}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('含税金额')}：</strong> {$row.tax_amount}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('不含税金额')}：</strong> {$row.no_tax_amount}
        </div>

    </div>
    <br>
    <hr>
    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-4">


        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            <h3 style="margin-left: 25%;margin-top: 13px" class="text-info">购置税及上户登记</h3>

        </div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('缴税日期')}：</strong> {$row.pay_taxesdate}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('购置税费(元)')}：</strong> {$row.tax}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('上户费(元)')}：</strong> {$row.house_fee}
        </div>


    </div>
    <br>
    <hr>
    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-4">


        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            <h3 style="margin-left: 25%;margin-top: 13px" class="text-info">保险</h3>

        </div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('购买日期')}：</strong> {$row.insurance_buydate}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('路桥费(元)')}：</strong> {$row.luqiao_fee}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('车船税金额(元)')}：</strong> {$row.car_boat_tax}
        </div>


    </div>
    <br>
    <hr>
    <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('交强险保单号')}：</strong> {$row.insurance_policy}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('交强险（元）')}：</strong> {$row.insurance}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('商业险保单号')}：</strong> {$row.commercial_insurance_policy}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('商业险（元）')}：</strong> {$row.business_risks}
        </div>

    </div>
    <br>
    <hr>
    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-4">


        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            <h3 style="margin-left: 25%;margin-top: 13px" class="text-info">个人相关资料</h3>

        </div>
    </div>
    <br>
    <br>
    <br>
    <hr>

    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('紧急联系人电话1')}：</strong> {$row.emergency_contact_1}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('紧急联系人电话2')}：</strong> {$row.emergency_contact_2}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('Family_members')}：</strong> {$row.family_members}
        </div>

    </div>

    <br>
    <hr>
    <div class="form-group">

        {empty name="$row.turn_to_introduce_name"}
        <div class="col-xs-12 col-sm-8 col-md-5">

        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('介绍人')}：</strong> <span class="text-info">暂无</span>

        </div>
        <div class="col-xs-12 col-sm-8 col-md-3" style="margin-top: -6px">
            <strong>{:__('通话清单')}：</strong>
            {foreach $call_listfiles_arr as $k => $v}
            <a href="{$v}" target="_blank">
                <button type="button" class="btn btn-info">查看通话清单</button>
            </a> {/foreach}
        </div>
        {else /}
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('介绍人姓名')}：</strong> {empty name="$row.turn_to_introduce_name"}暂无{else
            /}{$row.turn_to_introduce_name}{/empty}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('介绍人电话')}：</strong> {empty name="$row.turn_to_introduce_phone"}暂无{else
            /}{$row.turn_to_introduce_phone}{/empty}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('介绍人身份证')}：</strong> {empty name="$row.turn_to_introduce_card"}暂无{else
            /}{$row.turn_to_introduce_card}{/empty}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3" style="margin-top: -6px">
            <strong>{:__('通话清单')}：</strong>
            {foreach $call_listfiles_arr as $k => $v}
            <a href="{$v}" target="_blank">
                <button type="button" class="btn btn-info">查看通话清单</button>
            </a> {/foreach}
        </div>
        {/empty}


    </div>

    <br>
    <hr>
    <br>
    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-4">


        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            <h3 style="margin-left: 25%;margin-top: 5px" class="text-info">个人相关图片</h3>

        </div>
    </div>
    <br>
    <br>

    <br>


</div>
<script>
    image_preview($("img"));

</script>

{php}
//dump($row);
{/php}