<style>
    .content{
        min-height:700px;
    }
</style>

<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">客户等级</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-customlevel" data-rule="required" class="form-control selectpicker" name="row[customerlevel]">
              {empty name="$row.customerlevel"}
                <option value="" selected style="display: none">未选择任何项</option>

                {foreach name="costomlevelList" item="vo"}
                <option value="{$key}">{$vo}</option>
                {/foreach}
                {else /}
                {foreach name="costomlevelList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.customerlevel"}selected{/in}>{$vo}</option>
                {/foreach}
                {/empty}

            </select>

        </div>
    </div>

    <div class="form-group" id="checks">
        <label class="control-label col-xs-12 col-sm-2">下次跟进时间</label>
        <div class="col-xs-12 col-sm-8">
            {empty name="$default_date"}
            <input id="c-followupdate" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" data-min-date="2018-08-03" name="row[followupdate]" type="text" value="{$row.followupdate}" onblur="remind()">

            {else /}
            <input id="c-followupdate" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" data-min-date="2018-08-03" name="row[followupdate]" type="text" value="{$default_date}" onblur="remind()">

            {/empty}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Feedback')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-feedback" data-rule="required" class="form-control editor" rows="5" name="row[feedback]" cols="50">{$row.feedback}</textarea>
        </div>
    </div>


    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<script>

//错误时间提醒
    function remind() {

        var now = new Date(getNowFormatDate()).getTime();

        var choose = $("#c-followupdate").val();

        choose = new Date(choose).getTime();


        if(choose<now){
            // 您选择的时间无效，请重新选择
            layer.alert('您选择的时间无效，请重新选择', {
                icon: 1,
                skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
            })

        }
    }
    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;
        return currentdate;
    }
</script>


