<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <div class="panel-lead"><em>新客户&待联系客户&有意向客户&暂无意向客户&待成交客户&已成交客户&放弃客户&跟进时间过期客户</em></div>
        <ul class="nav nav-tabs" >
            <li class="active text-center" style=""><a href="#new_customer" data-toggle="tab" style="font-weight: bold"><span class="tabs-text">新客户</span>&nbsp;<span class="pull-right-container"><small class="badge pull-right bg-red" id="badge_new_customer">{$newCustomTotal}</small></span></a></li>
            <li><a href="#relation" data-toggle="tab" style="font-weight: bold" class="text-center" ><span class="tabs-text">待联系</span>&nbsp;<span class="pull-right-container"><small class="badge pull-right bg-red" id="badge_relation">{$relationTotal}</small></span></a></li>
            <li><a href="#intention" data-toggle="tab" style="color:#18bc9c;font-weight: bold" class="text-center"><span class="tabs-text">有意向</span>&nbsp;<span class="pull-right-container"><small class="badge pull-right bg-red" id="badge_intention">{$intentionTotal}</small></span></a></li>
            <li><a href="#nointention" data-toggle="tab" style="font-weight: bold" class="text-center"><span class="tabs-text">暂无意向</span>&nbsp;<span class="pull-right-container"><small class="badge pull-right bg-red" id="badge_no_intention">{$nointentionTotal}</small></span></a></li>
            <li><a href="#giveup" data-toggle="tab" style="font-weight: bold" class="text-center"><span class="tabs-text">已放弃</span>&nbsp;<span class="pull-right-container"><small class="badge pull-right bg-red" id="badge_give_up">{$giveupTotal}</small></span></a></li>
            <li><a href="#overdue" data-toggle="tab" style="color:#e74c3c;font-size:15px;font-weight: bold" class="text-center"><span class="tabs-text">跟进时间过期客户</span>&nbsp;<span class="pull-right-container"><small class="badge pull-right bg-red" id="badge_overdue">{$overdueTotal}</small></span></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <!--新客户-->

            <div class="tab-pane fade active in" id="new_customer">
                <div id="toolbar1" class="toolbar">

                    <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                    <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('customer/customerresource/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                    <a href="javascript:;" class="btn btn-info btn-edit btn-disabled  disabled {:$auth->check('customer/customerresource/new_customer')?'':'hide'}" title="{:__('Batchfeedback')}" ><i class="fa fa-pencil"></i> {:__('Batchfeedback')}</a>
                    <a class="btn btn-danger   btn-disabled disabled btn-selected1" href="javascript:;" data-params="batch"><i class="fa fa-eye"></i>批量放弃</a>
                    <!--<a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('customer/customerresource/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>-->

                </div>

                <table id="newCustomer" class="table table-striped table-bordered table-hover table-nowrap"
                       data-operate-edit="{:$auth->check('customer/customerresource/edit')}"
                       data-operate-del="{:$auth->check('customer/customerresource/del')}"
                       width="100%">
                </table>
            </div>


            <!--待联系用户-->

            <div class="tab-pane fade active" id="relation">
                <div id="toolbar2" class="toolbar">

                    <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                    <a href="javascript:;" class="btn btn-info btn-edit btn-disabled disabled {:$auth->check('customer/customerresource/edit')?'':'hide'}" title="{:__('Batchfeedback')}" ><i class="fa fa-pencil"></i> {:__('Batchfeedback')}</a>
                    <a class="btn btn-danger   btn-disabled disabled btn-selected2" href="javascript:;" data-params="batch"><i class="fa fa-eye"></i>批量放弃</a>

                </div>

                <table id="relations" class="table table-striped table-bordered table-hover table-nowrap"
                       data-operate-edit="{:$auth->check('customer/customerresource/edit')}"
                       data-operate-del="{:$auth->check('customer/customerresource/del')}"
                       width="100%">
                </table>
            </div>


            <!--有意向用户-->

            <div class="tab-pane fade active" id="intention">
                <div id="toolbar3" class="toolbar">

                    <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                    <a href="javascript:;" class="btn btn-info btn-edit btn-disabled disabled {:$auth->check('customer/customerresource/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Batchfeedback')}</a>
                    <a class="btn btn-danger   btn-disabled disabled btn-selected3" href="javascript:;" data-params="batch"><i class="fa fa-eye"></i>批量放弃</a>

                </div>

                <table id="intentions" class="table table-striped table-bordered table-hover table-nowrap"
                       data-operate-edit="{:$auth->check('customer/customerresource/edit')}"
                       data-operate-del="{:$auth->check('customer/customerresource/del')}"
                       width="100%">
                </table>
            </div>

            <!--暂无意向用户-->

            <div class="tab-pane fade active" id="nointention">
                <div id="toolbar4" class="toolbar">

                    <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                    <a href="javascript:;" class="btn btn-info btn-edit btn-disabled disabled {:$auth->check('customer/customerresource/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Batchfeedback')}</a>
                    <a class="btn btn-danger   btn-disabled disabled btn-selected4" href="javascript:;" data-params="batch"><i class="fa fa-eye"></i>批量放弃</a>

                </div>

                <table id="nointentions" class="table table-striped table-bordered table-hover table-nowrap"
                       data-operate-edit="{:$auth->check('customer/customerresource/edit')}"
                       data-operate-del="{:$auth->check('customer/customerresource/del')}"
                       width="100%">
                </table>
            </div>


            <!--放弃用户-->

            <div class="tab-pane fade active" id="giveup">
                <div id="toolbar5" class="toolbar">

                    <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>

                </div>

                <table id="giveups" class="table table-striped table-bordered table-hover table-nowrap"
                       data-operate-edit="{:$auth->check('customer/customerresource/edit')}"
                       data-operate-del="{:$auth->check('customer/customerresource/del')}"
                       width="100%">
                </table>
            </div>

            <!--跟进时间过期用户-->

            <div class="tab-pane fade active" id="overdue">
                <div id="toolbar6" class="toolbar">

                    <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                    <a href="javascript:;" class="btn btn-info btn-edit btn-disabled disabled {:$auth->check('customer/customerresource/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Batchfeedback')}</a>
                    <a class="btn btn-danger   btn-disabled disabled btn-selected5" href="javascript:;" data-params="batch"><i class="fa fa-eye"></i>批量放弃</a>

                </div>

                <table id="overdues" class="table table-striped table-bordered table-hover table-nowrap"
                       data-operate-edit="{:$auth->check('customer/customerresource/edit')}"
                       data-operate-del="{:$auth->check('customer/customerresource/del')}"
                       width="100%">
                </table>
            </div>

        </div>
    </div>
</div>
{php}

{/php}
