
<h3>
    <center>
        <h2>基本资料</h2>
    </center>
</h3>
<br>
<div class="container-fulid" style="border: 1px solid #ddd">
    <!--<br>-->
    <!--<br>-->
    <div class="form-group" style="margin-top: 1%">
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('订单编号')}：</strong> {$row.order_no}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('客户来源')}：</strong> {eq name="$row.customer_source" value="direct_the_guest"}直客{else/}转介绍{/eq}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('订车日期')}：</strong> {$row.createtime}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('提车日期')}：</strong> {$row.delivery_datetime}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('放款日期')}：</strong> {$row.lending_date}
        </div>
        <!--<div class="col-xs-12 col-sm-8 col-md-5">-->
        <!--<strong>{:__('销售车型/方案')}：</strong> {$row.plan_name}-->
        <!--</div>-->
    </div>
    <br>
    <hr>
    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-1">
            <!--<strong>{:__('姓名')}：</strong> {:__($row.username)} {eq name="$row.genderdata" value="male"} <span class="fa fa-male text-info"></span>{else /} <span class="fa fa-female" style="color:palevioletred"></span>{/eq}-->
        </div>

        <div class="col-xs-12 col-sm-8 col-md-6">
            <strong>{:__('销售车型/方案')}：</strong> {$row.plan_name}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('是否购买保险')}：</strong> {eq name="$row.buy_insurancedata" value="yes"}已购买{else/}未购买{/eq}
        </div>
        <!--<div class="col-xs-12 col-sm-8 col-md-3">-->
        <!--<strong>{:__('身份证号')}：</strong> {$row.id_card}-->
        <!--</div>-->
        <!--<div class="col-xs-12 col-sm-8 col-md-5">-->
        <!--<strong>{:__('详细地址')}：</strong> {$row.city}{$row.detailed_address}-->
        <!--</div>-->
    </div>
    <br>
    <hr>
    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('姓名')}：</strong> {:__($row.username)} {eq name="$row.genderdata" value="male"} <span
                class="fa fa-male text-info"></span>{else /} <span class="fa fa-female"
                                                                   style="color:palevioletred"></span>{/eq}
        </div>

        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('联系电话')}：</strong> {$row.phone}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('身份证号')}：</strong> {$row.id_card}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-5">
            <strong>{:__('详细地址')}：</strong> {$row.city}{$row.detailed_address}
        </div>
    </div>
    <br>
    <hr>
    <!--<br>-->
    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('licensenumber')}：</strong>{$row.licensenumber}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('engine_number')}：</strong> {$row.engine_number}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('frame_number')}：</strong> {$row.frame_number}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('household')}：</strong> {$row.household}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('4s_shop')}：</strong> {$row.4s_shop}
        </div>
    </div>
    <br>
    <hr>
    <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('扣款卡号')}：</strong>{$row.bank_card}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('登记编码')}：</strong>{$row.registration_code}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('抵押类型')}：</strong> {switch name="$row.mortgage_type"}
            {case value="new_car"}新车{/case}
            {case value="used_car"}二手车{/case}
            {case value="yueda_car"}悦达{/case}
            {case value="other_car"}其他{/case}
            {/switch}
        </div>
    </div>
    <br>
    <hr>
    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('开票金额（元）')}：</strong> {$row.invoice_monney}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('购置税（元）')}：</strong> {$row.tax}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('商业险（元）')}：</strong> {$row.business_risks}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('交强险（元）')}：</strong> {$row.insurance}
        </div>
    </div>
    <br>
    <hr>
    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('紧急联系人电话1')}：</strong> {$row.emergency_contact_1}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('紧急联系人电话2')}：</strong> {$row.emergency_contact_2}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('Family_members')}：</strong> {$row.family_members}
        </div>

    </div>

    <br>
    <hr>
    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('介绍人姓名')}：</strong> {empty name="$row.turn_to_introduce_name"}暂无{else
            /}{$row.turn_to_introduce_name}{/empty}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('介绍人电话')}：</strong> {empty name="$row.turn_to_introduce_phone"}暂无{else
            /}{$row.turn_to_introduce_phone}{/empty}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-5">
            <strong>{:__('介绍人身份证')}：</strong> {empty name="$row.turn_to_introduce_card"}暂无{else
            /}{$row.turn_to_introduce_card}{/empty}
        </div>

    </div>

    <br>
    <hr>
    <br>
    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$id_cardimages_arr"}
            <p style="margin-top: 8%"><strong>{:__('身份证正反面（多图）')}：</strong>暂无<span class="text-info">身份证信息</span></p>
            {else /}
            <strong>{:__('身份证正反面（多图）')}：</strong>
            {foreach $id_cardimages_arr as $k => $v}

            <img src="{$v}" alt="" style="width:80px;height:80px;">

            {/foreach}
            {/empty}

        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$drivers_licenseimages_arr"}
            <p style="margin-top: 8%"><strong>{:__('驾照正副页（多图）')}：</strong>暂无<span class="text-info">驾驶证信息</span></p>

            {else /}
            <strong>{:__('Drivers_licenseimages')}：</strong>
            {foreach $drivers_licenseimages_arr as $k => $v}
            <img src="{$v}" alt="" style="width:80px;height:80px;">
            {/foreach}
            {/empty}

        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$residence_bookletimages_arr"}
            <p style="margin-top: 8%"><strong>{:__('户口簿【首页、主人页、本人页】')}：</strong>暂无<span class="text-info">户口簿相关信息</span>
            </p>

            {else /}
            <strong>{:__('Residence_bookletimages')}：</strong>
            {foreach $residence_bookletimages_arr as $k => $v}
            <img src="{$v}" alt="" style="width:80px;height:80px;">

            {/foreach}
            {/empty}

        </div>

    </div>
    <br>
    <br>
    <hr>
    <br>
    <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$bank_cardimages_arr"}
            <p style="margin-top: 8%"><strong>{:__('银行卡照（可多图）')}：</strong>暂无<span class="text-info">银行卡相关信息</span></p>
            {else /}
            <strong>{:__('Bank_cardimages')}：</strong>
            {foreach $bank_cardimages_arr as $k => $v}
            <img src="{$v}" alt="" style="width:80px;height:80px;">
            {/foreach}
            {/empty}

        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$housingimages_arr"}
            <p style="margin-top: 8%"><strong>{:__('住房合同/房产证（多图）')}：</strong>暂无<span
                    class="text-info">住房合同/房产证相关信息</span></p>
            {else /}
            <strong>{:__('Housingimages')}：</strong>
            {foreach $housingimages_arr as $k => $v}
            <img src="{$v}" alt="" style="width:80px;height:80px;">
            {/foreach}
            {/empty}

        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$application_formimages_arr"}
            <p style="margin-top: 8%"><strong>{:__('申请表（多图）')}：</strong>暂无<span class="text-info">申请表相关信息</span></p>

            {else /}
            <strong>{:__('Application_formimages')}：</strong>
            {foreach $application_formimages_arr as $k => $v}
            <img src="{$v}" alt="" style="width:80px;height:80px;">
            {/foreach}
            {/empty}

        </div>


    </div>
    <br>
    <br>
    <hr>
    <br>
    <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-md-4">

            {empty name="$new_car_marginimages_arr"}
            <p style="margin-top: 8%"><strong>{:__('保证金收据')}：</strong>暂无<span class="text-info">保证金收据</span></p>


            {else/}
            <strong>{:__('保证金收据')}：</strong>
            {foreach $new_car_marginimages_arr as $k => $v}
            <img src="{$v}" alt="" style="width:80px;height:80px;">
            {/foreach}
            {/empty}

        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$deposit_contractimages_arr"}
            <p style="margin-top: 8%"><strong>{:__('定金合同（多图）')}：</strong>暂无<span class="text-info">定金合同相关信息</span></p>

            {else /}
            <strong>{:__('Deposit_contractimages')}：</strong>
            {foreach $deposit_contractimages_arr as $k => $v}
            <img src="{$v}" alt="" style="width:80px;height:80px;">
            {/foreach}
            {/empty}

        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$deposit_receiptimages_arr"}
            <p style="margin-top: 8%"><strong>{:__('定金收据上传')}：</strong>暂无<span class="text-info">定金收据相关信息</span></p>
            {else /}
            <strong>{:__('Deposit_receiptimages')}：</strong>
            {foreach $deposit_receiptimages_arr as $k => $v}
            <img src="{$v}" alt="" style="width:80px;height:80px;">
            {/foreach}
            {/empty}

        </div>

    </div>
    <br>
    <br>
    <hr>
    <br>
    <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-md-6">
            {empty name="$car_imgeas_arr"}
            <p style="margin-top: 8%"><strong>{:__('车辆所有的扫描件')}：</strong>暂无<span class="text-info">车辆所有的扫描件相关信息</span></p>

            {else /}
            <strong>{:__('车辆所有的扫描件（多图）')}：</strong>
            {foreach $car_imgeas_arr as $k => $v}
            <img src="{$v}" alt="" style="width:80px;height:80px;" class="to-change">
            {/foreach}
            {/empty}

        </div>
        <div class="col-xs-12 col-sm-8 col-md-3" style="line-height: 80px">
            <strong>{:__('通话清单')}：</strong>
            {foreach $call_listfiles_arr as $k => $v}
            <a href="{$v}" target="_blank">
                <button type="button" class="btn btn-info">查看通话清单</button>
            </a> {/foreach}
        </div>


    </div>
    <br>
    <br>
    <hr>
    <br>

</div>


<script>


    image_preview($("img"));



</script>