
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否有身份证复印件')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {empty name="$row.id_card"}
                <label for="row[id_card]-{$key}"><input id="row[id_card]-{$key}" name="row[id_card]" type="radio"
                                                                        value="yes"/>有</label>
                <label for="row[id_card]-{$key}"><input id="row[id_card]-{$key}" name="row[id_card]" type="radio"
                                                                        value="no" checked/>无</label>

                {else /}
                {foreach name="keylist" item="vo"}
                <label for="row[id_card]-{$key}">
                    {if condition="$key==$row['marry_and_divorceimages']"}
                    <input id="row[id_card]-{$key}" name="row[id_card]" type="radio" value="{$key}" checked/>
                    {else /}
                    <input id="row[id_card]-{$key}" name="row[id_card]" type="radio" value="{$key}"/>
                    {/if}
                    {$vo}</label>
                {/foreach}
                {/empty}
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2</span>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <span class="badge">1</span>
                        Morbi leo risus
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否有户口复印件')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {empty name="$row.registered_residence"}
                <label for="row[registered_residence]-{$key}"><input id="row[registered_residence]-{$key}" name="row[registered_residence]" type="radio"
                                                        value="yes"/>有</label>
                <label for="row[registered_residence]-{$key}"><input id="row[registered_residence]-{$key}" name="row[registered_residence]" type="radio"
                                                        value="no" checked/>无</label>

                {else /}
                {foreach name="keylist" item="vo"}
                <label for="row[registered_residence]-{$key}">
                    {if condition="$key==$row['registered_residence']"}
                    <input id="row[registered_residence]-{$key}" name="row[registered_residence]" type="radio" value="{$key}" checked/>
                    {else /}
                    <input id="row[registered_residence]-{$key}" name="row[registered_residence]" type="radio" value="{$key}"/>
                    {/if}
                    {$vo}</label>
                {/foreach}
                {/empty}

            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否有结婚证或者离婚证')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {empty name="$row.marry_and_divorceimages"}
                <label for="row[marry_and_divorceimages]-{$key}"><input id="row[marry_and_divorceimages]-{$key}" name="row[marry_and_divorceimages]" type="radio"
                                                                        value="yes"/>有</label>
                <label for="row[marry_and_divorceimages]-{$key}"><input id="row[marry_and_divorceimages]-{$key}" name="row[marry_and_divorceimages]" type="radio"
                                                                        value="no" checked/>无</label>

                {else /}
                {foreach name="keylist" item="vo"}
                <label for="row[marry_and_divorceimages]-{$key}">
                    {if condition="$key==$row['marry_and_divorceimages']"}
                    <input id="row[marry_and_divorceimages]-{$key}" name="row[marry_and_divorceimages]" type="radio" value="{$key}" checked/>
                    {else /}
                    <input id="row[marry_and_divorceimages]-{$key}" name="row[marry_and_divorceimages]" type="radio" value="{$key}"/>
                    {/if}
                    {$vo}</label>
                {/foreach}
                {/empty}

            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否有征信报告')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {empty name="$row.credit_reportimages"}
                <label for="row[credit_reportimages]-{$key}"><input id="row[credit_reportimages]-{$key}" name="row[credit_reportimages]" type="radio"
                                                                     value="yes"/>有</label>
                <label for="row[credit_reportimages]-{$key}"><input id="row[credit_reportimages]-{$key}" name="row[credit_reportimages]" type="radio"
                                                                     value="no" checked/>无</label>

                {else /}
                {foreach name="keylist" item="vo"}
                <label for="row[credit_reportimages]-{$key}">
                    {if condition="$key==$row['credit_reportimages']"}
                    <input id="row[credit_reportimages]-{$key}" name="row[credit_reportimages]" type="radio" value="{$key}" checked/>
                    {else /}
                    <input id="row[credit_reportimages]-{$key}" name="row[credit_reportimages]" type="radio" value="{$key}"/>
                    {/if}
                    {$vo}</label>
                {/foreach}
                {/empty}

            </div>
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否有半年银行流水')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {empty name="$row.halfyear_bank_flowimages"}
                <label for="row[halfyear_bank_flowimages]-{$key}"><input id="row[halfyear_bank_flowimages]-{$key}" name="row[halfyear_bank_flowimages]" type="radio"
                                                                    value="yes"/>有</label>
                <label for="row[halfyear_bank_flowimages]-{$key}"><input id="row[halfyear_bank_flowimages]-{$key}" name="row[halfyear_bank_flowimages]" type="radio"
                                                                    value="no" checked>无</label>

                {else /}
                {foreach name="keylist" item="vo"}
                <label for="row[halfyear_bank_flowimages]-{$key}">
                    {if condition="$key==$row['halfyear_bank_flowimages']"}
                    <input id="row[halfyear_bank_flowimages]-{$key}" name="row[halfyear_bank_flowimages]" type="radio" value="{$key}" checked/>
                    {else /}
                    <input id="row[halfyear_bank_flowimages]-{$key}" name="row[halfyear_bank_flowimages]" type="radio" value="{$key}"/>
                    {/if}
                    {$vo}</label>
                {/foreach}
                {/empty}

            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否有通话清单')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {empty name="$row.detailed_list"}
                <label for="row[detailed_list]-{$key}"><input id="row[detailed_list]-{$key}" name="row[detailed_list]" type="radio"
                                                                    value="yes"/>有</label>
                <label for="row[detailed_list]-{$key}"><input id="row[detailed_list]-{$key}" name="row[detailed_list]" type="radio"
                                                                    value="no" checked/>无</label>

                {else /}
                {foreach name="keylist" item="vo"}
                <label for="row[detailed_list]-{$key}">
                    {if condition="$key==$row['detailed_list']"}
                    <input id="row[detailed_list]-{$key}" name="row[detailed_list]" type="radio" value="{$key}" checked/>
                    {else /}
                    <input id="row[detailed_list]-{$key}" name="row[detailed_list]" type="radio" value="{$key}"/>
                    {/if}
                    {$vo}</label>
                {/foreach}
                {/empty}

            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否有担保人')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {empty name="$row.guarantee"}
                <label for="row[guarantee]-{$key}"><input id="row[guarantee]-{$key}" name="row[guarantee]" type="radio"
                                                              value="yes"/>有</label>
                <label for="row[guarantee]-{$key}"><input id="row[guarantee]-{$key}" name="row[guarantee]" type="radio"
                                                              value="no" checked/>无</label>

                {else /}
                {foreach name="keylist" item="vo"}
                <label for="row[guarantee]-{$key}">
                    {if condition="$key==$row['guarantee']"}
                    <input id="row[guarantee]-{$key}" name="row[guarantee]" type="radio" value="{$key}" checked/>
                    {else /}
                    <input id="row[guarantee]-{$key}" name="row[guarantee]" type="radio" value="{$key}"/>
                    {/if}
                    {$vo}</label>
                {/foreach}
                {/empty}

            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否有居住证/租房合同/房产证')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {empty name="$row.residence_permitimages"}
                <label for="row[residence_permitimages]-{$key}"><input id="row[residence_permitimages]-{$key}" name="row[residence_permitimages]" type="radio"
                                                          value="yes"/>有</label>
                <label for="row[residence_permitimages]-{$key}"><input id="row[residence_permitimages]-{$key}" name="row[residence_permitimages]" type="radio"
                                                          value="no" checked/>无</label>

                {else /}
                {foreach name="keylist" item="vo"}
                <label for="row[residence_permitimages]-{$key}">
                    {if condition="$key==$row['residence_permitimages']"}
                    <input id="row[residence_permitimages]-{$key}" name="row[residence_permitimages]" type="radio" value="{$key}" checked/>
                    {else /}
                    <input id="row[residence_permitimages]-{$key}" name="row[residence_permitimages]" type="radio" value="{$key}"/>
                    {/if}
                    {$vo}</label>
                {/foreach}
                {/empty}

            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否有驾照')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {empty name="$row.driving_license"}
                <label for="row[driving_license]-{$key}"><input id="row[driving_license]-{$key}" name="row[driving_license]" type="radio"
                                                                       value="yes"/>有</label>
                <label for="row[driving_license]-{$key}"><input id="row[driving_license]-{$key}" name="row[driving_license]" type="radio"
                                                                       value="no" checked/>无</label>

                {else /}
                {foreach name="keylist" item="vo"}
                <label for="row[driving_license]-{$key}">
                    {if condition="$key==$row['driving_license']"}
                    <input id="row[driving_license]-{$key}" name="row[driving_license]" type="radio" value="{$key}" checked/>
                    {else /}
                    <input id="row[driving_license]-{$key}" name="row[driving_license]" type="radio" value="{$key}"/>
                    {/if}
                    {$vo}</label>
                {/foreach}
                {/empty}

            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否有公司合同')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {empty name="$row.company_contractimages"}
                <label for="row[company_contractimages]-{$key}"><input id="row[company_contractimages]-{$key}" name="row[company_contractimages]" type="radio"
                                                                value="yes"/>有</label>
                <label for="row[company_contractimages]-{$key}"><input id="row[company_contractimages]-{$key}" name="row[company_contractimages]" type="radio"
                                                                value="no" checked/>无</label>

                {else /}
                {foreach name="keylist" item="vo"}
                <label for="row[company_contractimages]-{$key}">
                    {if condition="$key==$row['company_contractimages']"}
                    <input id="row[company_contractimages]-{$key}" name="row[company_contractimages]" type="radio" value="{$key}" checked/>
                    {else /}
                    <input id="row[company_contractimages]-{$key}" name="row[company_contractimages]" type="radio" value="{$key}"/>
                    {/if}
                    {$vo}</label>
                {/foreach}
                {/empty}

            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否有车钥匙')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {empty name="$row.car_keys"}
                <label for="row[car_keys]-{$key}"><input id="row[car_keys]-{$key}" name="row[car_keys]" type="radio"
                                                         value="yes"/>有</label>
                <label for="row[car_keys]-{$key}"><input id="row[car_keys]-{$key}" name="row[car_keys]" type="radio"
                                                         value="no" checked/>无</label>


                {else /}
                {foreach name="keylist" item="vo"}
                <label for="row[car_keys]-{$key}">
                    {if condition="$key==$row['car_keys']"}
                    <input id="row[car_keys]-{$key}" name="row[car_keys]" type="radio" value="{$key}" checked/>
                    {else /}
                    <input id="row[car_keys]-{$key}" name="row[car_keys]" type="radio" value="{$key}"/>
                    {/if}
                    {$vo}</label>
                {/foreach}
                {/empty}

            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否有提车单')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {empty name="$row.lift_listimages"}
                <label for="row[lift_listimages]-{$key}"><input id="row[lift_listimages]-{$key}" name="row[lift_listimages]" type="radio"
                                                         value="yes"/>有</label>
                <label for="row[lift_listimages]-{$key}"><input id="row[lift_listimages]-{$key}" name="row[lift_listimages]" type="radio"
                                                         value="no" checked/>无</label>


                {else /}
                {foreach name="keylist" item="vo"}
                <label for="row[lift_listimages]-{$key}">
                    {if condition="$key==$row['lift_listimages']"}
                    <input id="row[lift_listimages]-{$key}" name="row[lift_listimages]" type="radio" value="{$key}" checked/>
                    {else /}
                    <input id="row[lift_listimages]-{$key}" name="row[lift_listimages]" type="radio" value="{$key}"/>
                    {/if}
                    {$vo}</label>
                {/foreach}
                {/empty}

            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否有定金协议')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {empty name="$row.deposit"}
                <label for="row[deposit]-{$key}"><input id="row[deposit]-{$key}" name="row[deposit]" type="radio"
                                                                value="yes"/>有</label>
                <label for="row[deposit]-{$key}"><input id="row[deposit]-{$key}" name="row[deposit]" type="radio"
                                                                value="no" checked/>无</label>


                {else /}
                {foreach name="keylist" item="vo"}
                <label for="row[deposit]-{$key}">
                    {if condition="$key==$row['deposit']"}
                    <input id="row[deposit]-{$key}" name="row[deposit]" type="radio" value="{$key}" checked/>
                    {else /}
                    <input id="row[deposit]-{$key}" name="row[deposit]" type="radio" value="{$key}"/>
                    {/if}
                    {$vo}</label>
                {/foreach}
                {/empty}

            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否有道路管理条例告知书')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {empty name="$row.truth_management_protocolimages"}
                <label for="row[truth_management_protocolimages]-{$key}"><input id="row[truth_management_protocolimages]-{$key}" name="row[truth_management_protocolimages]" type="radio"
                                                        value="yes"/>有</label>
                <label for="row[truth_management_protocolimages]-{$key}"><input id="row[truth_management_protocolimages]-{$key}" name="row[truth_management_protocolimages]" type="radio"
                                                        value="no" checked/>无</label>


                {else /}
                {foreach name="keylist" item="vo"}
                <label for="row[truth_management_protocolimages]-{$key}">
                    {if condition="$key==$row['truth_management_protocolimages']"}
                    <input id="row[truth_management_protocolimages]-{$key}" name="row[truth_management_protocolimages]" type="radio" value="{$key}" checked/>
                    {else /}
                    <input id="row[truth_management_protocolimages]-{$key}" name="row[truth_management_protocolimages]" type="radio" value="{$key}"/>
                    {/if}
                    {$vo}</label>
                {/foreach}
                {/empty}

            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否有保密协议')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {empty name="$row.confidentiality_agreementimages"}
                <label for="row[confidentiality_agreementimages]-{$key}"><input id="row[confidentiality_agreementimages]-{$key}" name="row[confidentiality_agreementimages]" type="radio"
                                                                                value="yes"/>有</label>
                <label for="row[confidentiality_agreementimages]-{$key}"><input id="row[confidentiality_agreementimages]-{$key}" name="row[confidentiality_agreementimages]" type="radio"
                                                                                value="no" checked/>无</label>


                {else /}
                {foreach name="keylist" item="vo"}
                <label for="row[confidentiality_agreementimages]-{$key}">
                    {if condition="$key==$row['confidentiality_agreementimages']"}
                    <input id="row[confidentiality_agreementimages]-{$key}" name="row[confidentiality_agreementimages]" type="radio" value="{$key}" checked/>
                    {else /}
                    <input id="row[confidentiality_agreementimages]-{$key}" name="row[confidentiality_agreementimages]" type="radio" value="{$key}"/>
                    {/if}
                    {$vo}</label>
                {/foreach}
                {/empty}

            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('备注')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-information_remark" class="form-control editor" rows="5" name="row[information_remark]"
                      cols="50" placeholder="选填">{$row.information_remark}</textarea>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
{php}
dump($row);
dump($row['halfyear_bank_flowimages']);
{/php}
