
<form id="import-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" 
    data-area='["600px","400px"]'>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('导入模板下载')}:</label>
        <div class="col-xs-12 col-sm-8">

            <a href="download" class="btn btn-success btn-embossed btn-download" title="{:__('下载导入模板')}">
                <i class="fa fa-download"></i> {:__('下载导入模板')}</a>
            <!-- <a href="javascript:;" class="btn btn-danger btn-import {:$auth->check('customer/customerresource/import')?'':'hide'}" title="{:__('Import')}" id="btn-import-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multiple="false"><i class="fa fa-upload"></i> 导入EXCEL</a> -->
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('客户信息导入')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-attachfile" data-rule="required" class="form-control" size="50" name="row[attachfile]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-attachfile" class="btn btn-danger plupload" data-input-id="c-attachfile" data-multiple="false"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    
                </div>
                <span class="msg-box n-right" for="c-attachfile"></span>
            </div>
            
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>

    <!-- <div class="form-group">
        <div class="col-xs-12 col-sm-8">
                <label for="file">客户信息导入:</label>
                <input type="file" id="file" name="file"/>
                
        </div>
        <button type="button" onclick="ajaxUploadFile()">确定</button>
    </div> -->

    <!-- <div class="report-file">
        <span>上传文件</span><input tabindex="3" size="3" name="report" class="file-prew" type="file" onchange="document.getElementById('textName').value=this.value">
   </div>
   <input type="text" id="textName" style="height: 28px;border:1px solid #f1f1f1" />
   <button type="button" onclick="ajaxUploadFile()">确定</button> -->
</form>


<!-- <script>

    function ajaxUploadFile() {
        var formData = new FormData();
        var xmlhttp;
        console.log(123);
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
        }
        else {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open("POST","import",true);
        xmlhttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        formData.append("file",document.getElementById("file").files[0]);
        xmlhttp.send(formData);
        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState==4) {
                if (xmlhttp.status==200) {
                    console.log("上传成功"+xmlhttp.responseText);
                    window.parent.location.reload();
			        parent.layer.closeAll('iframe');
                }else {
                    console.log("上传失败"+xmlhttp.responseText);
                }
            }
        }
    }

</script> -->