<style>
    .report-file {
            display: block;
            position: relative;
            width: 120px;
            height: 28px;
            overflow: hidden;
            border: 1px solid #428bca;
            background: none repeat scroll 0 0 #428bca;
            color: #fff;
            cursor: pointer;
            text-align: center;
            float: left;
            margin-right:5px;
    }
    .report-file span {
            cursor: pointer;
            display: block;
            line-height: 28px;
    }
    .file-prew {
            position: absolute;
            top: 0;
            left:0;
            width: 120px;
            height: 30px;
            font-size: 100px; 
            opacity: 0; 
            filter: alpha(opacity=0);
            cursor: pointer;
    }
</style>

<form id="import-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="promote/customertabs/import"
    data-area='["600px","400px"]' enctype="multipart/form-data">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('导入模板下载')}:</label>
        <div class="col-xs-12 col-sm-8">

            <a href="download" class="btn btn-success btn-embossed btn-download" title="{:__('下载导入模板')}">
                <i class="fa fa-download"></i> {:__('下载导入模板')}</a>

        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 col-sm-8">
                <label for="file">客户信息导入:</label>
                <input type="file" id="file" name="file"/>
                
        </div>
        <button type="button" onclick="ajaxUploadFile()">确定</button>
    </div>

    <!-- <div class="report-file">
        <span>上传文件</span><input tabindex="3" size="3" name="report" class="file-prew" type="file" onchange="document.getElementById('textName').value=this.value">
   </div>
   <input type="text" id="textName" style="height: 28px;border:1px solid #f1f1f1" />
   <button type="button" onclick="ajaxUploadFile()">确定</button> -->
</form>


<script>

    function ajaxUploadFile() {
        var formData = new FormData();
        var xmlhttp;
        console.log(123);
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
        }
        else {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open("POST","import",true);
        xmlhttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        formData.append("file",document.getElementById("file").files[0]);
        xmlhttp.send(formData);
        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState==4) {
                if (xmlhttp.status==200) {
                    console.log("上传成功"+xmlhttp.responseText);
                    window.parent.location.reload();
			        parent.layer.closeAll('iframe');
                }else {
                    console.log("上传失败"+xmlhttp.responseText);
                }
            }
        }
    }

</script>