<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="" data-area='["600px","400px"]' >

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('导入模板下载')}:</label>
        <div class="col-xs-12 col-sm-8">

            <a href="download" class="btn btn-success btn-embossed btn-download" title="{:__('下载导入模板')}">
                <i class="fa fa-download"></i> {:__('下载导入模板')}</a>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('客户信息导入')}:</label>
        <div class="col-xs-12 col-sm-8">
                <div class="input-group">
                        <input id="c-attachfile" data-rule="required" class="form-control" size="50" name="row[file]" type="text" value="">
                        <div class="input-group-addon no-border no-padding">
                            <span><button type="button" id="plupload-attachfile" class="btn btn-danger plupload" data-input-id="c-attachfile" data-multiple="false"><i class="fa fa-upload"></i> {:__('客户信息导入')}</button></span>
                            
                        </div>
                        <span class="msg-box n-right" for="c-attachfile"></span>
                </div>
        </div>
    </div>

    <div class="form-group layer-footer">
            <label class="control-label col-xs-12 col-sm-2"></label>
            <div class="col-xs-12 col-sm-8">
                <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
                <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
            </div>
        </div>

</form>